Host vpn
# HostName 45.32.37.30
	HostName 45.32.253.124
	Port 22
	User root

Host ysp-zhongjian
    HostName xcloud.chinacloudapp.cn
    User yspuser
    Port 22

Host ysp-inner-96
    HostName 192.168.1.96
    User root
    Port 22

Host ysp-inner-95
    HostName 192.168.1.95
    User root
    Port 22

Host ysp-inner-97
    HostName 192.168.1.97
    User root
    Port 22

Host ysp-inner-98
    HostName 192.168.1.98
    User root
    Port 22

Host ysp-inner-101
    HostName 192.168.1.101
    User root
    Port 22

Host tate
    HostName 192.168.2.101
    User tate
    Port 22

Host platform
    HostName 42.159.5.8
    Port 42
    User azureuser


Host jenkins
    HostName 192.168.1.96
    User jenkins
    Port 22

Host xcloud-ide
    HostName 139.217.16.85
    Port 22
    User azureuser

Host new-beta
    HostName 139.217.5.169
    Port 22
    User azureuser

Host ysp-mongo1
    HostName ysp-mongodb.chinacloudapp.cn
    Port 22101
    User azureuser
    IdentityFile /Users/admin/.ssh/id_rsa_2048.2048

Host ysp-mongo2
    HostName ysp-mongodb.chinacloudapp.cn
    Port 22102
    User azureuser
    IdentityFile /Users/admin/.ssh/id_rsa_2048.2048

Host ysp-mongo3
    HostName ysp-mongodb.chinacloudapp.cn
    Port 22103
    User azureuser
    IdentityFile /Users/admin/.ssh/id_rsa_2048.2048

Host xcloud-build
    HostName 139.217.12.15
    Port 22
    User azureuser

# IDE 私有部署服务器
Host private1
    HostName 192.168.2.170
    Port 22
    User root

Host private2
    HostName 192.168.2.171
    Port 22
    User root

Host private3
    HostName 192.168.2.172
    Port 22
    User root

Host private4
    HostName 192.168.2.173
    Port 22
    User root

Host private5
    HostName 192.168.2.174
    Port 22
    User root

Host private6
    HostName 192.168.2.175
    Port 22
    User root
