{
    "go.useLanguageServer": true,
    "go.inferGopath": false,
    "go.toolsGopath": "~/go",
    "go.lintTool": "golangci-lint",
    "go.lintFlags": [
        "--fast",
        "--disable-all"
    ],
    "[go]": {
        "editor.insertSpaces": false,
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.organizeImports": true
        },
        "editor.snippetSuggestions": "none"
    },
    "gopls": {
        "usePlaceholders": true,
        "completeUnimported": true
    },
    "go.formatTool": "goimports",
    "go.autocompleteUnimportedPackages": true,
    "go.gocodeAutoBuild": false,
    "sync.gist": "531f444ca2ea0fc373d1de9eed2ed233"
}
